/* clcok */
.clock {
    text-align: center;
}
.clock_wrap {
    width: 80vw;
    margin: 0 auto;
}
.clock .comment{
    margin: 0;
    margin-top: 50px;
    font-size: 2vw;
}
.clock .time{
    margin: 0.2em;
    font-size: 7vw;
}
.clock .date {
    font-size: 3vw;
}
.clock i.spinner {
    animation: spin 1s infinite linear;
    font-size: 7vw;
}

@media(max-width: 1200px) {
    .clock_wrap {
        margin-bottom: 50px;
    }
    .clock .comment{
        font-size: 5vw;
    }
    .clock .time{
        /* margin: 0.2em; */
        font-size: 15vw;
    }
    .clock .date {
        font-size: 6vw;
    }
  }

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

