@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Cutive+Mono&family=Noto+Sans&family=Roboto&display=swap');

#setting {
  position: fixed;
  top: 0;
  right: 0;
  color: #fff;
  font-family: sans-serif; 
  width: 20vw;
  height: 100vh;
  background-color: rgba(38, 39, 38, 0.95);
  padding: 30px;
  font-family: sans-serif;
  /* visibility: hidden; */
  transform: translateX(105%);
  transition: transform .3s;
}

#setting.active {
  /* visibility: visible; */
  transform: none;
}

#setting ul li {
  margin-bottom: 35px;
}

.btn_settingOpen {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  font-size: 40px;
}

p[class$="heading"] {
  font-size: 25px;
  font-weight: 900;
  margin: 0.7em 0;
}

.hoursView_outerToggle {
  position: relative;
  vertical-align: middle;
  width: 50px;
  height: 22px;
  background-color: #aaa;
  border-radius: 20px;
}

.hoursView_innerToggle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  background-color: #000;
  border-radius: 50%;
  transition: transform .3s;
}

.isAct.hoursView_outerToggle {
  background-color: orange;
}

.isAct .hoursView_innerToggle {
  transform: translateX(28px);
  background-color: #fff;
}

.item_font select {
  padding: 5px;
  border-radius: 5px;
}

.item_fontColor input {
  border-radius: 5px;
  height: 40px;
  width: 33.33%;
  box-sizing: border-box;
  cursor: pointer;
}

.container_bgc {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.item_backgroundColor input {
  display: none;
}

.item_backgroundColor label {
  position: relative;
  width: 33.33%;
  height: 40px;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  cursor: pointer;
  transition: .2s;
}

label[for="bgc_2"],
label[for="bgc_5"],
label[for="bgc_8"]{
  border-right: 0;
  border-left: 0; 
}

label[for="bgc_4"],
label[for="bgc_5"],
label[for="bgc_6"]{
  border-top: 0;
  border-bottom: 0; 
}

.container_bgc label:hover {
  border: 5px solid #f1f1f1;
}

.container_bgc .select {
  border: 5px solid #f1f1f1;
  outline: 0;
}

.container_bgc > label:nth-of-type(1),
.container_bgc > input:nth-of-type(1) {
  background-color: #0F4C81;
  border-radius: 10px 0 0 0;
}
.container_bgc > label:nth-of-type(2),
.container_bgc > input:nth-of-type(2) {
  background-color: #FF6F61;
}
.container_bgc > label:nth-of-type(3),
.container_bgc > input:nth-of-type(3) {
  background-color: #5F4B8B;
  border-radius: 0 10px 0 0;
}
.container_bgc > label:nth-of-type(4),
.container_bgc > input:nth-of-type(4) {
  background-color: #88B04B;
}
.container_bgc > label:nth-of-type(5),
.container_bgc > input:nth-of-type(5) {
  background-color: #92A8D1;
}
.container_bgc > label:nth-of-type(6),
.container_bgc > input:nth-of-type(6) {
  background-color: #F7CAC9;
}
.container_bgc > label:nth-of-type(7),
.container_bgc > input:nth-of-type(7) {
  background-color: #955251;
  border-radius: 0 0 0 10px;
}
.container_bgc > label:nth-of-type(8),
.container_bgc > input:nth-of-type(8) {
  background-color: #B163A3;
}
.container_bgc > label:nth-of-type(9),
.container_bgc > input:nth-of-type(9) {
  background-color: #009473;
  border-radius: 0 0 10px 0;

}

.item_state button {
  font-size: 1em;
  color: #333;
  background-color: #fff;
  padding: 10px 15px;
  border: 1px solid #242424;
  border-radius: 5px;
  margin-right: 5px;
  transition: 0.2s;
}

.item_state button:hover {
  background-color: rgb(170, 170, 170);
}

.btn_settingClose {
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
}

@media(max-width: 1200px) {
  #setting {
    width: 35vw;
  }
  p[class$="heading"] {
    font-size: 20px;
  }
  .hoursView_outerToggle {
    width: 35px;
  }
  .isAct .hoursView_innerToggle {
    transform: translateX(13px);
  }
  .item_state button {
    width: 55px;
    padding: 10px;
  }
}