#weather {
  width: 100%;
}
.forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.weather_content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px;
  /* animation: spin 1s linear infinite; */
}
.weather_content:nth-child(1)
{
  font-size: 1.5em;
}
.weather_content i,
.weather_content p {
  width: 100%;
}
.weather_content i{
  font-size: 3em;
}
.weather_content p{
  margin: 0;
}
.weather_content .temp
{
  margin: 15px 0px 10px 0;
}
.weather_content #first {
  font-size: 4em;
}
.currently {
  text-align: center;
  font-size: 2em;
}
.city_container {
  width: 100%;
  text-align: center;
}
.city_select {
  text-align: center;
  display: inline-block;
  padding: 5px 5px 10px 5px;
}
.currently_btn {
  border: none;
  padding: 0.5em 2.2em;
  background: transparent;
  cursor: pointer;
  color: black;
  background: #fff;
  user-select: none;
  margin-left: 30px;
  border: 2px solid rgb(215, 235, 225);
  -moz-transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.currently_btn:hover {
  box-shadow: inset 0px 0px 1px 2px #000,
  8px 5px 2px 1px #000000;
}
.fas.fa-spinner {
  animation: spin 1s infinite linear;
  font-size: 30px;
}
@media(max-width: 1200px) {
  .weather_content {
   min-width: 100%;
   font-size: 2em !important;
  }
  .weather_content #first {
    font-size: 3em;
  }
}