#weather {
  width: 100%;
  padding-bottom: 50px;
}
.forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.weather_content {
  text-align: center;
  margin: 0 50px;
  /* height: 140px; */
  font-size: 2em;
  /* animation: spin 1s linear infinite; */
}

.weather_content i,
.weather_content p {
  width: 100%;
}
.weather_content i{
  font-size: 5em;
}
.weather_content p{
  margin: 0;
}
.weather_content .temp
{
  margin: 15px 0px 10px 0;
}
.currently {
  text-align: center;
  font-size: 2em;
}
.city_container {
  width: 100%;
  text-align: center;
}
.city_select {
  text-align: center;
  display: inline-block;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
}
.currently_btn {
  border: none;
  padding: 0.5em 2.2em;
  cursor: pointer;
  color: black;
  background: #fff;
  margin-left: 30px;
  border: 1px solid #aaa;
  border-radius: 5px;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.currently_btn:hover {
  background: #aaa;
  color: #fff;
}
.fas.fa-spinner {
  animation: spin 1s infinite linear;
  font-size: 30px;
}
@media(max-width: 1200px) {
  .weather_content {
   min-width: 100%;
   font-size: 1.3em;
   margin-bottom: 30px;
   height: 175px;
  }
}